@import url("https://fonts.googleapis.com/css2?family=Ramabhadra&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

/* PSEUDOCLASES */
input:hover {
  font-weight: bold;
  color: #27509b; }

select:hover {
  font-weight: bold;
  color: #27509b; }

/* HEADER CON BOOTSTRAP*/
.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 10px; }

.header img {
  width: 200px; }

.bg-body-tertiary {
  background-color: white !important; }

.header ul {
  border: 3px outset #27509b;
  border-radius: 5px;
  padding: 30px; }

.header a {
  text-transform: uppercase;
  font-weight: bold;
  color: #27509b; }

/* MAIN CON BEM*/
.main-index {
  background-image: url(../recursos/Fotos/resize5.jpg);
  background-repeat: no-repeat;
  height: 800px;
  padding: 20px;
  margin: 35px; }

.main__encabezado {
  text-transform: uppercase;
  font-family: 'Kanit', sans-serif;
  font-size: 50px;
  color: #27509b;
  text-align: center;
  padding: 25px; }

.main__texto {
  grid-area: texto1;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  font-size: 15px;
  margin: 5px; }

@media (max-width: 756px) {
  .main__encabezado {
    font-size: 30px; }
  .main__texto {
    font-size: 10px;
    color: white;
    font-weight: lighter;
    text-transform: uppercase; } }

/* MAIN - LOCALES BOOSTRAP */
.main-locales {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  padding: 20px; }

.main-locales div {
  display: inline-block;
  margin: 10px;
  padding: 10px; }

.main-locales img {
  width: 450px; }

.info__locales {
  text-align: center;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  color: #27509b;
  margin: 5px; }

/* MAIN - MULTIMEDIA - CARD BOOSTRAP*/
/* MAIN - SERVICIOS */
.main-servicios {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center; }

.main-servicios p {
  text-align: justify;
  font-size: 15px;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  line-height: 30px;
  color: #27509b;
  margin: 25px;
  height: auto;
  border: 2px double #69ade2;
  background-color: whitesmoke; }

.main-servicios img {
  width: 500px;
  height: 300px;
  margin: 20px; }

@media (max-width: 756px) {
  .main-servicios img {
    width: 200px;
    height: 150px;
    margin: 15px;
    padding: 20px; }
  .main-servicios p {
    text-align: justify;
    font-size: 10px;
    border: 1px ridge #69ade2; } }

/* MAIN - CONTACTO - BOOSTRAP Y PSEUDOCLASES*/
.row {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px;
  padding: 25px;
  text-transform: uppercase;
  background-color: #69ade2; }

.form-floating {
  padding: 10; }

.main-contacto .boton-enviar {
  margin: 15px;
  padding: 5px;
  color: #27509b;
  font-size: 15px;
  font-weight: bolder; }

/* FOOTER CON FLEX-BOX*/
.footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: stretch;
  align-items: stretch;
  margin: 10px; }

.footer a {
  color: #27509b;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  margin: 10px;
  font-family: 'Open Sans', sans-serif; }

.footer ul {
  list-style-type: none; }

.footer p {
  text-align: center;
  margin: 10px;
  border: 2px outset gray;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
  color: gray;
  font-weight: bold; }
