/* MAIN - LOCALES BOOSTRAP */

.container .text-center{
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.info__locales{
    text-transform: uppercase;
    text-align: center;
}