/* MAIN - CONTACTO - BOOSTRAP Y PSEUDOCLASES*/

.row {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px;
    padding: 25px;
    text-transform: uppercase;
    background-color: rgb(105, 173, 226);
}

.form-floating {
    padding: 10;
}

.main-contacto .boton-enviar {
    margin: 15px;
    padding: 5px;
    color: rgb(39, 80, 155);
    font-size: 15px;
    font-weight: bolder;
}